<%= link_to 'home', root_path %>

<p>
	<strong><u>quiz on german words:</u></strong>
</p>

<p>
	here are the weird german letters with the dots over them and stuff:
		<font style='font-size: large;'><strong>Ä ä Ö ö Ü ü ß</strong></font>
</p>

<div class='quiz area'>

	<table>
		<thead>
			<th>english:</th>
			<th>german:</th>
		</thead>
		<tbody>

		<tr>
			<td></td>
			<td><div id="gender"></div></td>
		</tr>

		<tr>
			<td>
				<div id="english">
				</div>
			</td>

			<td class="germ-td">
				<form action="javascript:$('#next_question').click();" method="post" id="article_form">
          <input id="german_article" name="german_article" size="3" type="text" autocomplete="off" maxlength="3">
				</form>
					
				<form action="javascript:$('#next_question').click();" method="post">
					<input id="german_word" name="german_word" type="text" autocomplete="off">
				</form>
			</td>

			<td>
				<div id="next_question">
					<%= link_to "next!", "#" %>
				</div>
			</td>
		</tr>

		</tbody>
	</table>

	<br />


</div>

<p>
	if you're using firefox or IE, please use the 'next!' link to proceed to the next word.<br />
	i'm still working on getting this bug sorted out... thanks!
</p>

<div id="quiz_words" data-json="<%= @words_json %>"></div>
