<%= link_to 'home', root_path %>

<p>
	<strong><u>quiz on german words:</u></strong>
</p>

<div class='quiz area'>

	<table>
		<thead>
			<th>english:</th>
			<th>german:</th>
		</thead>
		<tbody>

		<tr>
			<td></td>
			<td><div id="gender"></div></td>
		</tr>

		<tr>
			<td>
				<div id="english">
				</div>
			</td>

			<td class="germ-td">
				<input id="german_article" name="german_article" size="3" type="text" autocomplete="off">
				<input id="german_word" name="german_word" type="text" autocomplete="off">
			</td>

			<td>
				<div id="next_question">
					<%= link_to "next!", "#" %>
				</div>
			</td>
		</tr>

		</tbody>
	</table>

	<br />


</div>

<div id="quiz_words" data-json="<%= @words_json %>"></div>
