= javascript_include_tag params[:controller]

.center
  .question-count
  .answer-container
    .answer

.quiz-area
  .table-area
    %table
      %thead
        %th english:
        %th.german german:
      %tbody

      %tr
        %td
        %td
          #gender

      %tr
        %td
          #english

        %td.germ-td
            
          %form{action: "javascript:nextQuestion();", method: "post", id: "word_form"}
            %input{id: "german_word", name: "german_word", type: "text", autocomplete: "off"}

  %p
    click one of the weird letters to put it in the form: 
    .weirdos
    .umlaut.deselected Ä
    .umlaut.deselected ä
    .umlaut.deselected Ö
    .umlaut.deselected ö
    .umlaut.deselected Ü
    .umlaut.deselected ü
    .umlaut.deselected ß
  %br

#results.center
  %table
    %thead
      %tr
        %th incorrect
        %th correct
    %tbody

#quiz_words
  :javascript
     $('#quiz_words').data('words', #{@words_json});
