= javascript_include_tag params[:controller]

= link_to 'vocabularist home', root_path

%p
  %strong
    %u quiz on german words:

%br
%p
  .question-count

.quiz-area
  .table-area
    %table
      %thead
        %th english:
        %th german:
      %tbody

      %tr
        %td
        %td
          #gender

      %tr
        %td
          #english

        %td.germ-td
          %form{action: "javascript:nextQuestion();", method: "post", id: "article_form"}
            %input{id: "german_article", name: "german_article", size: "3", type: "text", autocomplete: "off", maxlength:"3" }
            
          %form{action: "javascript:nextQuestion();", method: "post"}
            %input{id: "german_word", name: "german_word", type: "text", autocomplete: "off"}

          %td
            #next_question
              = link_to "next!", "#", onclick: "nextQuestion();"

  %p
    click one of the weird letters to put it in the form: 
    .weirdos
    .umlaut Ä
    .umlaut ä
    .umlaut Ö
    .umlaut ö
    .umlaut Ü
    .umlaut ü
    .umlaut ß
  %br

#quiz_words
  :javascript
     $('#quiz_words').data('words', #{@words_json});
