<%= link_to 'home', root_path %>

<p>
	vocabulary quiz on german words:
</p>

<div class='quiz area'>

	<div id="english">
	</div>

	<div id="german_article">
	</div>

	<div id="german_word">
	</div>

	<br />

	<div id="next_ques">
		<%= link_to "next", "#" %>
	</div>
	
</div>


<div id="quiz_words" data-json="<%= @words_json %>"></div>
