<h2>Vocabularist!</h2>

<br />

<p>
	select the language you want to test in:
</p>

<%= link_to "english", root_path %><br />
<%= link_to "deutsch", root_path %><br />

<p>
	edit words for:
</p>

<%= link_to 'english', english_words_path %><br />
<%= link_to 'deutsch', german_words_path %>
