.center
  .disclaimer
    %h2{ style: "padding: 30px; text-align: center" } DISCLAIMER & PRIVACY POLICY

    %p 
      payments are made through a secure API called Stripe. if you want to know more about this, you can visit their website
      = link_to 'here.', 'https://stripe.com/about', target: '_blank'

    %p i do not record any personal or credit card/billing information that may be relayed to/from this application in the midst of any transaction.
    
    %p 
      the source code to this application is available to the public.  you can find it 
      = link_to 'here.', 'https://github.com/elliotwesoff/Vocabularist', target: '_blank'

    %p the purchase of access to the entirety of this program is NON-REFUNDABLE, and is provided WITHOUT WARRANTY or any guarantee of functionality.

    %p i am not responsible for the learning (or lack thereof) that may occur during the use of this application.

    %p i am not responsible for the providing of false information (incorrect translations, spelling errors, etc.) that may be received by the user at any point in the use of this application (i use this program as well, so of course i want it to be as correct and accurate as possible.  please email me if you find any mistakes).

    %p i reserve the right to cancel any account at any time for any reason, with or without the user's consent.

    %p{ style: "text-align: center" } thank you for your understanding.
