/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Courier New";
}

.center {
    width: 60%;
    margin: auto;
    text-align: center;
}

* {
    margin: 0;
}

html, body {
	height: 100%;
}

.container {
	min-height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}

.footer {
    padding-top: 10px;
    border-top: 1px solid black;
    font-size: 12pt;
}

p, h3 {
    margin: 25px;
}

.alert {
    margin-top: 20px;
    padding: 10px;
}

.alert-notice {
    border: 1px solid blue;
}

.alert-alert {
    border: 1px solid red;
}

#error_explanation {
    margin: auto;
    margin-bottom: 30px;
}

.field_with_errors {
    margin: auto;
}
