td {
	/*vertical-align: top;*/
}

th {
    padding-top: 10px;
	text-align: center;
	/*width: 100%;*/
}

.center {
    width: 50%;
    text-align: center;
    margin: auto;
}

.germ-td {
	/*width: 180px;*/
}

#gender {
    text-align: center;
    min-height: 20px;
}

#article_form {
    float: left;
    padding-right: 5px;
}

#word_form {
    float: left;
    width: 100%;
}

#word_form input {
    height: 30px;
    width: 100%;
    font-size: 18pt;
}

#english {
    font-size: 18pt;
    width: 100%;
}

.umlaut, .weirdos {
    float: left;
    padding: 7px;
    font-size: 16pt;
}

.weirdos {
    padding-right: 40%;
}

.deselected {
    border: 2px solid white;
}

.selected {
    border-bottom: 2px solid red;
}

.quiz-area {
    text-align: center;
    width: 60%;
    margin: auto;
}

.table-area {
    width: 100%;
    margin: auto;
}

.table-area table {
    width: 100%;
}

.table-area table td {
    width: 50%;
}

.question-count {
    padding: 20px;
}

.answer-container {
    min-height: 40px;
    max-height: 40px;
}

.answer {
    padding: 10px;
}

.correct {
    border: 1px solid green;
}

.incorrect {
    border: 1px solid red;
}

.ghetto-ass {
    margin: auto;
}
