td {
	vertical-align: top;
}

th {
	text-align: left;
	width: 150px;
}

.germ-td {
	width: 180px;
}


.add-word td, th {
	width: 320px;
}

#article_form {
	float: left;
	padding-right: 5px;
}

.umlaut {
    float: left;
}
