td {
	vertical-align: top;
}

th {
	text-align: center;
	width: 150px;
}

.center {
    width: 50%;
    text-align: center;
    margin: auto;
}

.germ-td {
	width: 180px;
}

#gender {
    text-align: center;
    min-height: 20px;
}

.add-word td, th {
	/*width: 320px;*/
}

#article_form {
	float: left;
	padding-right: 5px;
}

.umlaut, .weirdos {
    float: left;
    padding: 7px;
    font-size: 16pt;
}

.weirdos {
    padding-right: 33%;
}

.deselected {
    border: 2px solid white;
}

.selected {
    border-bottom: 2px solid red;
}

.quiz-area {
    text-align: center;
    width: 50%;
    margin: auto;
}

.table-area {
    width: 50%;
    margin: auto;
}

.question-count {
    padding: 20px;
}

.answer {
    padding: 10px;
}

.correct {
    border: 1px solid blue;
}

.incorrect {
    border: 1px solid red;
}
